{% extends 'base.html' %}  


{% block content %}  

<div class="container my-5">
    <div class="my-5">
        <h1>{{ memos.subject }}</h1>
    </div>
    <div class="text-end my-3">
        writer : {{ memos.writer }}  
    </div>
    <div>
        content : <textarea class="form-control my-3">{{ memos.content }}</textarea>
    </div>

    <div class="my-5 text-end">
        <a href="{% url 'memos:index' %}"><button class="btn btn-outline-dark"></button></a>
    </div>


</div>




{% endblock %}  